# Deps
node_modules/

# Build
dist/
dist-ssr/
*.local
# Vite
.vite/

# Zips crudos (se extraen a assets/ y no se commitean)
assets/*.zip
assets/*.rar
assets/*.7z

# OS / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
